/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
/* ===== Primary Styles ========================================================
   Author: Pramod (2014) (http://www.userinterfacemedia.com)
   ========================================================================== */
body {
	background-image: url("../images/texture.jpg");
	/*background-image: url("../images/texture_1.jpg");
	background-image: url("../images/texture_2.jpg");*/
}
body {
	/*background: #005380;*/
}
#main {
	width: 100%;
}
.navbar {
	margin-bottom: 15px;
}
.navbar-inner {
	min-height: 45px;
}
.navbar .nav > li {
	line-height: 25px;
}
.navbar .nav > li.active > a,
.navbar .nav > li > a:hover {
	text-shadow: none;
}
.nav [class*=" icon-"] {
	margin-right: 2px;
}
h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1rem;
}
h1, h2, h3, h4{
	line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
	color: rgb(82, 133, 209);
	font-weight: normal;
	margin: 5px 0;
}
h2 { margin-bottom: 10px;}
h3 em { font-size: .9em; color: #000;}

/* =New section
========================================================================== */
.logo {
	padding: 10px 0 20px;
}
.row-fluid .showcase {
	margin-left: 0;
}
.showcase {
	width: 100%;
	min-height: 235px;
	padding: 10px 10px 0;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 6px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0 0 6px 0px rgba(50, 50, 50, 0.1);
	box-shadow: 0 0 6px 0px rgba(50, 50, 50, 0.1);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
.showcase .thumbnails {
	margin: 0;
}
.showcase .thumbnails>li {
	margin-bottom: 10px;
}
.navbar-inverse .navbar-inner {
	background-color: #5c5c5c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), to(#222222));
	background-image: -webkit-linear-gradient(top, #5c5c5c 0%, #222222 100%);
	background-image: -moz-linear-gradient(top, #5c5c5c 0%, #222222 100%);
	background-image: -ms-linear-gradient(top, #5c5c5c 0%, #222222 100%);
	background-image: -o-linear-gradient(top, #5c5c5c 0%, #222222 100%);
	background-image: linear-gradient(top, #5c5c5c 0% #222222 100%);
	border-bottom: 2px solid #888;
}
.thumbnail {
	min-height: 200px;
}